.history-cards {
    display: flex;
    width: 1000px; /* maybe not hardcode */
    flex-flow: row wrap;
}

.history-card {
    background: #aaaaaa;
    margin: 15px;
    width: 250px;
    /* position: relative; */
    display: flex;
    flex-direction: column;
}

.history-card img {
    width: 100px;
}

.history-cards .pagination {
    justify-content: center;
    /* align-items: center; */
    flex-basis: 100%; /* to put on new row */
}

/* .historycard-body {
    display: flex;
} */

.history-card .progress {
    margin-top: auto;
    /* position: absolute; */
    /* bottom: 10px; */
}