div.pages {
    scroll-margin-top: 80px;
}

.pagination {
    margin-top: 30px;
    justify-content: center;
}

/* Overriding bootsrap css which adds a high z-index to active page. idk why but its very annoying */
.page-item.page-item .page-link.page-link {
    z-index: auto;
}
